$background: #242323;
.primary-background {
  background-color: $background;
}

.p-color-bn {
  color: #afafaf;
}

.s-color-bn {
  color: #d1d1d1;
}

.t-color-bn {
  color: #767676;
}

.title {
  font-size: 50px;
}
@media (min-width: 768px) {
  .title {
    font-size: 100px;
  }
}

/******** -LEFT **************/
.left-menu {
  left: calc(-100vw - 16rem);
}
@media (min-width: 768px) {
  .left-menu {
    left: 0;
  }
}

/******** -BACKGROUND COLOR TRASPARENT **************/
.background-t {
  background-color: #00000073;
}

/******** -BACKGROUND COLOR TRASPARENT **************/
.color-text-white {
  color: #ffffff;
}

/******** -DISPLAY:NONE **************/
.display-none {
  display: none;
}
/******** BORDER SOLID 1PX **************/
.border-1 {
  border: solid 1px #80808052;
}

.border-red-1 {
  border: solid 1px #fc8181;
}
/******** BACKGROUND-BUTTON **************/
.border-gray-59{

  border: solid 2px #595959;
  border-radius: 10px;
}

.background-boton {
  background-color: #9e9e9e;
}

.border-radius-50 {
  border-radius: 50%;
}

.outline-none:focus {
  outline: none;
}

.header-black {
  background-color: #3b3b3b;
}

.header-text {
  color: #939393;
}

.menu-color {
  background-color: #ebebeb;
}

.background-color-gray-f7 {
  background-color: #f7f7f7;
}

.size-card {
  width: 30%;
}

.border-top-none {
  border-top: none;
}

.background-color-green {
  background-color: #789a1c;
}

.background-color-red {
  background-color: #d64242;
}
.size-quote {
  width: 300px;
}


//████████████      TEXT SIZE     ██████████████

.text-title {
}
.text-subtitle {
  
}
.text-small {
  font-size: 0.7rem !important;
}
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.button-red {
  background-color: white !important;
  color: #fc8181 !important;
  border-color: #fc8181 !important ;
}

.button-orange {
  background-color: #ff8f00 !important;
  color: white !important;
  border-color: #ff8f00 !important ;
}

.button-orange:hover {
  background-color: white !important;
  color: #ff8f00 !important;
  border-color: #ff8f00 !important ;
}

.button-green {
  background-color: #4e9a1c !important;
  color: white !important;
  border-color: #4e9a1c !important ;
}

.button-green:hover {
  background-color: white !important;
  color: #4e9a1c !important;
  border-color: #4e9a1c !important ;
}

.ant-card-extra {
  display: flex !important;
  justify-content: center !important;
  float: left !important;
  margin-left: 50px !important;
  text-align: center !important;
}

.hoverAlert:hover div {
  display: block;
}
